body {
    text-align: center;
    background-color: #faeee7;
}
p {
    font-family: "Meiryo UI"; font-weight: bold;
}


h1{
    color: #33272a;
    font-size: 60px;

}
h2{
    color: #ee2560;
}
h3{
    color: #ef99fe;
    font-size: 25px;
}
li {
    list-style: none;
  }